#root {
  max-width: 1280px;
  margin: auto auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  background-image: url('/bgpunk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
